{% extends "bootstrap/base.html" %}

{% block title %}Conduit{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='conduit.css')}}">
{% endblock %}

{% block navbar %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {{ category }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
{% endwith %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Conduit</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Home</a>
        <a class="p-2 text-dark" href="#">Browse</a>
        <a class="p-2 text-dark" href="#">History</a>
    </nav>
</div>
{% endblock %}

{% block content %}
{% block page_content %}{% endblock %}
{% endblock %}