{% extends "base.html" %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">File</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
    {% for file in files %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ file }}</td>
        <td><a href={{ url_for('delete', source=file) }} class="btn btn-outline-danger">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}